<div id='user-header'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>

        <p class='section-title' style='margin-top:-20px'><%= t('devise.registrations.headers._onboard.welcome', platform: t('project_name'))%></p>

        <p class='lead'><%= t('devise.registrations.headers._onboard.complete_profile') %></p>

      </div>
    </div>
  </div>
</div>