<tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" align='center' valign="top">
    <a href="<%= url %>" class="btn-primary" itemprop="url" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 1.5em; font-weight: 700; cursor: pointer; display: inline-block; border-radius: 25px; text-transform: capitalize; background: #1FAFF6; margin: 0; border-color: #1FAFF6; border-style: solid; border-width: 10px 20px;"><%= action.html_safe %></a>
  </td>
</tr>