<tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
  <td class="content-block" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0" valign="top">
    <p style="padding: 15px 20px;background-color: #053E56;color: #FFF;margin: 0;">
      <%= callout.html_safe %>
    </p>
  </td>
</tr>