<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= header %></title>
  <style type="text/css">
    img {
    max-width: 100%;
    }
    body {
    -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6;
    }
    body {
    background-color: #E6E6E6;
    }
    @media only screen and (max-width: 640px) {
      h1 {
        font-weight: 600 !important; margin: 20px 0 5px !important;
      }
      h2 {
        font-weight: 600 !important; margin: 20px 0 5px !important;
      }
      h3 {
        font-weight: 600 !important; margin: 20px 0 5px !important;
      }
      h4 {
        font-weight: 600 !important; margin: 20px 0 5px !important;
      }
      h1 {
        font-size: 22px !important;
      }
      h2 {
        font-size: 18px !important;
      }
      h3 {
        font-size: 16px !important;
      }
      .container {
        width: 100% !important;
      }
      .content {
        padding: 10px !important;
      }
      .content-wrap {
        padding: 10px !important;
      }
      .invoice {
        width: 100% !important;
      }
    }
  </style>
</head>

<meta itemprop="name" content="RDCAction" style="font-family: Helvetica,  Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" />

<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6; background: #E6E6E6; margin: 0;">

  <table class="body-wrap" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background: #E6E6E6; margin: 0;">
  <tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
    <td class="container" width="600" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
      <div class="content" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; max-width: 600px; display: block; margin: 0 auto; padding: 20px;">
        <!-- START: HEADER BAR -->
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; background: #053E56; margin: 0; ">
          <tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-wrap" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; vertical-align: top; margin: 0; padding: 5px 20px;" valign="top">
              <%= link_to image_tag(asset_url("logo.png"), style: 'width: 200px;padding: 12px 0px'), root_url %>
              <p style='float:right;font-size:12px;font-weight:300;text-transform:uppercase;color:#FFF'>
                <%= header %>
              </p>
            </td>
          </tr>
        </table>
        <!-- END: HEADER BAR -->

        <!-- START: MAIN CONTENT -->
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; background: #fff; margin: 0; border-bottom: 4px solid #053E56">
          <tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td class="content-wrap" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">