 <tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <%= @valediction || t('mailers.shared._outro.valediction') %>
    </td>
  </tr>

  <tr style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
    <td class="content-block" style="font-family: Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
      <%= yield(:signer).present? ? yield(:signer) : t('mailers.shared._outro.team', platform: t('project_name'))%>
      <% if @community_guides %>
        <br />
        <%= @community_guides %>
      <% end %>
    </td>
  </tr>
</table>