.idea-stage-overview {
  padding: 30px 0;
  background-color: $white;

  h1 {
    margin-bottom: 10px;
  }

  .fa-lightbulb-o {
    @include text-for-stage('idea-light');

    top: 0.1em;
    font-size: 15em;
    line-height: 0.5em;
  }
}

.idea-stage-navigation {
  @extend %xs-hidden;

  background-color: $idea;
  color: $white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 5px 10px $idea-stage-nav-box-shadow;
  margin-bottom: 20px;

  &.affix {
    top: 0;

    + .idea-stage-content {
      margin-top: 120px;
    }
  }

  .nav-link {
    &:hover,
    &:focus,
    &.active {
      @include text-for-stage('idea');
    }
  }

  .title {
    min-height: 7em;
  }
}

.idea-stage-content {
  padding: 20px 0;
  background-color: $lightest-gray-background;

  &.affix {
    margin-top: 40px;
  }
}
