.preview-screen {
  @extend %auth-screen;

  .media-preview {
    margin-bottom: 30px;

    .fa {
      font-size: 8em;
    }

    .media-body {
      padding-left: 20px;
    }

    .media-heading {
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}
