.user-header {
  @extend %centered-text;

  padding: 40px 0 0;
  background-color: $light-gray-background;
  border-bottom: 4px solid $link-color;

  .img-circle {
    width: 9em;
  }

  .fa-user-avatar {
    width: 7em;
    height: 5.5em;

    .fa-stack-2x {
      font-size: 7em !important;
    }

    .fa-stack-1x {
      font-size: 2em !important;
      margin-top: 1em;
    }
  }

  .user-caption {
    margin-bottom: 2em;
  }

  .nav-tabs {
    @extend %justified-navigation;
    border-radius: 0;

    li {
      background-color: $white;
      color: $text-color;
    }

    a {
      @extend %bold;

      color: $text-color;
      border-radius: 0;
      border: 1px solid $light-gray-border;

    }

    a:hover,
    a:active,
    a:focus {
      border-radius: 0;
      background-color: $link-color;
      border-bottom-color: $link-color !important;
      color: $white;
    }

    .active {
      background-color: $link-color;
      border-bottom-color: $link-color !important;
      color: $white-text;
      border-radius: 0;
    }

    .active:hover {
      cursor: pointer;
    }
  }
}

.user-overview {
  padding: 40px 0;
  background-color: $white;

  h4 {
    margin: 0 0 1em;
  }
}

.user-edit {
  background-color: $white;
  padding: 30px 0;

  .select2-chosen {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
