.comment {
  background-color: white;
  border-bottom: 1.5px solid #e6e6e6;
  padding: 1em 0px;

  &:first-child {
    padding-top: 0px;
  }

  .comment-header {
    .media-commenter {
      margin-bottom: 0.75em;

      .media-left {
        .fa-user-avatar {
          width: 100% !important;
          margin-top: 0.5em;

          @extend .fa-lg;

          .fa-stack-2x {
            @extend .fa-2x;

            color: $new-user;
          }

          .fa-stack-1x {
            @extend .fa-lg;

            @extend .text-small;

            @extend .text-bolder;

            margin-top: 0.75em;
            margin-left: 0.5em;
          }
        }
      }

      .media-body {
        padding-left: 2.25em;

        .user-caption {
          margin-top: 0.5em;

          .user-name {
            margin-bottom: 0em;
          }
        }
      }
    }

    .timestamp {
      @extend .text-xsmall;

      @extend .pull-right;

      margin-top: 2.5em;
    }
  }

  .comment-content {
    margin-bottom: 1em;
  }

  .comment-link {
    color: $text-color;
  }

  .comment-actions {
    ul {
      margin-bottom: 0em;

      li {
        font-size: $font-size-h6;
        color: $light-gray-text;
        margin-right: 1.5em;

        &.dropdown-link {
          margin-right: 0px;

          a {
            color: $light-gray-text;
          }
        }

        a {
          color: $light-gray-text;
        }
      }
    }
  }

  form {
    textarea {
      display: unset !important;
      background-color: $lightest-gray-background;
      box-shadow: none;
      border: none;
      resize: vertical;
      font-size: 16px;
      line-height: 1.7em;
    }
  }
}

.nested-comment {
  border-top: 1.5px solid #e6e6e6;
  margin-top: 15px;
  padding: 15px 0px 0px;

  ul {
    margin-bottom: 0px;
  }

  form {
    textarea {
      background-color: $lightest-gray-background;
      box-shadow: none;
      border: none;
      resize: vertical;
      font-size: 16px;
      line-height: 1.7em;
    }
  }
}

.new-comment {
  @extend .comment;

  padding-bottom: 0px;
  margin: 0px;
  border-bottom: 0px;

  .input-switch {
    .form-group {
      margin-bottom: 0px;

      .help-block {
        margin-bottom: 0px;
      }
    }
  }
}

.well-discussion {
  padding: 30px 40px 15px;
  background-color: white;

  @include border-radius(10px);
}

.discussion-header {
  @extend .text-center;

  font-weight: bold;
  text-transform: uppercase;
  color: $light-gray-text;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.row-discussion-count {
  .col-xs-3 {
    a {
      margin-top: 35px;
    }
  }
}

#comment-form {
  padding: 0px 0px 40px;

  .fa-close.fa-2x {
    @extend .pull-right;

    position: relative;
    top: 30px;
    color: #999999;
  }

  .comment-block {
    .comment-header {
      @extend .text-center;

      font-weight: bold;
      margin-bottom: 0px;
      text-transform: uppercase;
      color: $light-gray-text;
      font-size: 0.9em;
    }

    .comment-title {
      @extend .section-title;

      margin-bottom: 5px;

      a {
        font-weight: bold;
      }
    }

    .comment-description {
      font-size: 1.1em;
      margin-bottom: 20px;
    }
  }

  .well-comment {
    @extend .comment;

    padding: 30px 40px 15px;
    background-color: white;

    @include border-radius(10px);
  }
}
