.devise-form {
  margin: 40px 0;

  .panel-title {
    @extend .text-center;
  }
}

#error_explanation {
  color: #f00;

  ul {
    padding: 0px;
    list-style: none;
    margin: 0 0 5px 0;
  }
}

.field_with_errors {
  display: inline;

  @extend .control-group !optional;

  @extend .has-error !optional;

  .input-group {
    @extend .has-error;
  }
}

.devise-links {
  @extend .text-center;

  @extend .center-block;

  margin-bottom: 0px;
}

.well-header {
  @extend .text-center;

  margin: (-10px) 0px 20px;
}

.well-help {
  @extend .help-block;

  font-size: 0.9em;
  margin: 5px 0px 15px;
}

.auth-screen {
  padding: 80px 0px;

  .well-auth {
    padding: 19px 50px;
    background-color: white;

    .auth-cancel {
      @extend .pull-right;

      color: #999999;
    }

    .auth-title {
      @extend .section-title;
    }

    span.select2-chosen {
      @extend .input-borderless;

      padding: 0.5em;
    }

    .auth-header {
      @extend .page-header;

      @extend .text-bold;

      margin: 30px auto 10px;
    }

    .row-fields {
      margin-bottom: 15px;

      .form-group {
        label {
          font-size: 1.4em;
          color: #9D9D9D;
        }

        input {
          @extend .input-borderless;

          background-color: $lightGrayBG;
        }
      }

      .auth-helper {
        margin: 10px 0px 0px;

        @extend .text-bold;

        a {
          @extend .text-bold;
        }
      }

      #or {
        @extend .text-center;

        @extend .center-block;

        .fa-stack {
          margin-top: 35px;

          .fa-stack-2x {
            color: #F1F1F1;
            font-size: 3em;
          }

          .fa-stack-1x {
            color: #9D9D9D;
            font-size: 1.5em;
            top: 0.25em;
            left: 0.15em;
          }
        }
      }

      #oauth {
        label {
          color: transparent;
        }

        .fa-t2t {
          @extend .text-bold;

          font-size: 0.9em;
        }
      }
    }

    .row-disclaimer {
      margin-bottom: 30px;

      .auth-disclaimer {
        @extend .text-center;

        a {
          @extend .text-bold;

          color: black;
        }
      }
    }

    .row-actions {
      margin-top: 15px;

      .auth-switch {
        @extend .text-bold;

        margin-top: 5px;
        margin-bottom: 0px;

        a {
          @extend .text-bold;
        }
      }
    }
  }
}

.well-hr {
  border-top: 1px solid #e3e3e3;
  margin: 15px auto;
}

.select-option {
  font-weight: bold;
  margin-bottom: 0px;
}

.select-help {
  font-size: 0.85em;
  margin: 0px 15px;
}

.select2-container {
  padding: 0px !important;
  border: none !important;
}

.select2-choices {
  border-radius: 4px !important;
}
