.row-experience {
  margin-left: 0px;
  margin-bottom: 20px;
}

.well-experience {
  position: relative;
  z-index: 5;
  background-color: white;
  padding: 15px 15px 10px;

  .twitter-tweet {
    margin: 0px !important;
  }

  .experience-actions {
    margin-top: 15px;
  }

  &.discussion {
    margin-bottom: 0px;
    box-shadow: 0px 10px 15px -5px rgba(2, 1, 1, 0.27);
  }

  form {
    #experience_description {
      @extend .input-borderless;

      @extend .text-bold;
    }

    #experience_link {
      @extend .input-borderless;

      @extend .input-graybg;
    }
  }
}

.well-experience-discussion {
  @extend .well-experience;

  margin-top: -10px;
  z-index: 3;

  .experience-discussion {
    padding: 15px 30px 0px;

    .discussion-header {
      margin-bottom: 0px;
    }

    hr.break {
      margin: 15px auto;
      width: 50%;
    }
  }
}

.row-new {
  @extend .row-experience;

  margin-bottom: 0px;
}

#experience-preview {
  padding: 20px 0px;

  .preview-header {
    @extend .text-center;

    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.well-embed {
  @extend .text-center;

  margin-bottom: 5px;
  border: 2px dashed #B1B0B2;
  background-color: #ebeced;

  p {
    font-size: 1.6em;
    color: #B1B0B2;
    margin-bottom: 0px;
  }
}

#experience-form {
  padding: 0px 0px 40px;

  .fa-close.fa-2x {
    @extend .pull-right;

    position: relative;
    top: 30px;
    color: #999999;
  }
}

#experience-overview {
  padding: 40px 0px;

  .well-featured-experience {
    @extend .well, .well-sm, .text-center, .text-white;

    @include border-radius(1em);

    padding: 0.25em;
    background-color: $experience !important;
  }

  .well-experience {
    padding: 0px;
    background-color: white;

    @include border-radius(10px);

    #actions {
      a {
        color: $light-gray-text;
      }
    }

    .experience-content {
      padding: 0px 3em 1.5em;

      .row-experience-show {
        margin-bottom: 2em;

        .media-author {
          margin-bottom: 2em;

          .media-left {
            height: 5em;

            .fa-user-avatar {
              .fa-stack-2x {
                font-size: 4em !important;
              }

              .fa-stack-1x {
                margin-top: 1.9em;
                margin-left: 1.9em;
              }
            }
          }

          .media-body {
            padding-left: 5em;
          }
        }

        .content-block:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

#experience-comments {
  padding: 20px 0px;
}

#experience-share {
  padding: 20px 0px;
}
