#landing-splash
  padding: 40px 0
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 0%
  color: black
  #headline
    margin: 10px 0px 30px
    font-size: 1.8em
    line-height: 1.3em
    span.ng-scope
      font-weight: bold
  #subtitle
    margin: 10px 0
    font-size: 1.6em
    span.ng-scope
      font-weight: 300
  .embed-responsive
    margin-top: 30px

#landing-what
  padding: 50px 0px
  background-color: lightGrayBG
  #process-stages
    margin: 30px 0px 0px

#landing-challenge
  padding: 50px 0px
  background-color: white
  .well-challenge
    background-repeat: no-repeat
    background-size: cover
    background-position: 0% 0%
    color: black
    position: relative
    min-height: 420px
    .well-content
      margin: 5em 2em 0em
      .well-title
        font-size: 3em
        line-height: 1.2em
        font-weight: bold
        margin-bottom: 20px
      .well-subtitle
        font-size: 1.3em
        margin-bottom: 40px

#landing-suggest
  padding: 50px 0px
  background-color: $lightGrayBG
  .section-description
    font-weight: 500
    a
      color: $grayText
      font-weight: normal
  .suggestion-header
    @extend .text-center
    font-weight: bold
    margin-bottom: 0px
    text-transform: uppercase
    color: $text
    font-size: 0.9em

#landing-invite
  padding: 40px 0px
  background-color: $lightGrayBG

.row-process
  @extend .center-block, .text-center
  padding-top: 30px
  margin-bottom: -45px
  .fa-play
    float: right
    top: 1em
    position: relative
    font-size: 1.5em
    right: -25px
    color: #D1D3D4
  .challenge-fa-bubble
    width: 100% !important
    .fa-stack-2x
      font-size: 8em !important
    .fa-stack-1x
      font-size: 4em !important
      top: 0.75em
      font-weight: bold
  .caption
    margin-top: 7em
    margin-bottom: 20px
    text-align: center
    .stage
      font-size: 1.5em
      line-height: 1.2em
      font-weight: bold
      margin-bottom: 5px
    .description
      line-height: 1.2em
      font-weight: lighter
      margin-bottom: 10px