.well-recipe {
  position: relative;
  background-color: white;

  @include border-radius(10px);

  .media-author {
    .media-left {
      .fa-user-avatar {
        .fa-stack-2x {
          font-size: 1.75em;
        }

        .fa-stack-1x {
          margin-top: 0.65em;
          margin-left: 0.45em;
        }
      }
    }

    .media-body {
      padding-left: 1.6em;
    }
  }

  .list-actions {
    @extend .list-inline;

    @extend .pull-right;

    li {
      margin: 0.5em 0.1em;
      color: $lightGrayText;

      .fa {
        font-size: 1.3em;

        // top: 0.1em
     
      }

      a {
        color: $lightGrayText;
      }
    }
  }

  .row-content {
    h6 {
      margin-top: 0.25em;
    }
  }
}

#recipe-overview {
  padding: 40px 0px;

  .well-featured-recipe {
    @extend .well, .well-sm, .text-center, .text-white;

    @include border-radius(1em);

    padding: 0.25em;
    background-color: $recipe !important;
  }

  .well-recipe {
    padding: 0px;
    background-color: white;

    @include border-radius(10px);

    #actions {
      a {
        color: $grayText;
      }
    }

    .fa-close {
      padding-right: 15px;
      padding-top: 15px;
    }

    .recipe-content {
      padding: 0px 3em 1.5em;

      .row-recipe {
        margin-bottom: 30px;

        .media-author {
          margin-bottom: 30px;

          .media-left {
            height: 5em;

            .fa-user-avatar {
              .fa-stack-2x {
                font-size: 4em !important;
              }

              .fa-stack-1x {
                margin-top: 1.9em;
                margin-left: 1.9em;
              }
            }
          }

          .media-body {
            padding-left: 5em;
          }

          .content-block:last-child {
            margin-bottom: 0px;
          }
        }

        .media-step {
          min-height: 3em;
          margin-bottom: 1.5em;

          .media-left {
            .fa-stack-2x {
              font-size: 3em;
            }

            .fa-stack-1x {
              font-size: 1.75em;
              margin-left: 4px;
              margin-top: 7px;
            }
          }

          .media-body {
            padding-top: 5px;
            padding-left: 20px;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }

        .content-block:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

#recipe-comments {
  padding: 20px 0px;
}

#recipe-share {
  padding: 20px 0px;
}

#recipe-form {
  padding: 0px 0px 40px;

  .fa-close.fa-2x {
    @extend .pull-right;

    position: relative;
    top: 30px;
    color: #999999;
  }

  .panel-recipe {
    border: 1px solid #e3e3e3;

    @include border-radius(10px);

    .panel-heading {
      background-color: $recipe;
      color: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

      .panel-title {
        @extend .text-center;

        @extend .text-bold;

        text-transform: uppercase;
        color: white;
        line-height: 0.9em;
        letter-spacing: 1px;
        font-size: 1em;
      }
    }

    .panel-body {
      padding: 20px 50px 10px;

      label {
        @extend .label-borderless;

        @extend .text-large;

        @extend .text-uppercase;

        @extend .text-recipe;
      }

      #recipe_title {
        @extend .input-borderless;

        @extend .text-center;

        @extend .text-bolder;

        @extend .text-xlarge;

        @extend .text-recipe;

        padding: 6px 12px;
      }

      #recipe_description {
        @extend .input-borderless;

        line-height: 1.5em;
        box-shadow: none;
        border: none;
        resize: vertical;
      }

      #recipe-steps {
        margin-bottom: 1em;
      }

      #recipe_materials, #recipe_steps, #recipe_community, #recipe_conditions, #recipe_evidence, #recipe_protips {
        @extend .input-borderless;
      }

      #recipe_link {
        @extend .input-borderless;

        @extend .input-graybg;
      }

      ul.icon-list {
        .fa {
          color: rgb(153, 153, 153);
        }
      }

      .media-step {
        min-height: 50px;
        margin-bottom: 30px;

        .fa-close {
          color: #656565;
        }

        .media-left {
          padding: 0.25em 0.85em;
        }

        .media-body {
          padding-top: 5px;
          padding-left: 20px;

          textarea {
            @extend .input-borderless;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }

      a.add_fields {
        &:hover {
          color: #999;
        }
      }

      .media-step-new {
        margin-top: -15px;

        @extend .media-step;

        .placeholder {
          font-size: 1em;
          color: #999;
          margin-top: 5px;
          margin-left: 15px;
        }
      }
    }
  }
}

.text-gray {
  a {
    color: $lightGrayText;
  }
}
