.solution_story-thumbnail {
  background-color: white;
  padding: 0px;

  @include border-radius(10px);

  img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .solution_story-content {
    min-height: 250px;
    padding: 1.5em;
    position: relative;

    .solution_story-effort {
      position: absolute;
      bottom: 1.5em;
      left: 0.75em;
    }
  }

  .ribbon-wrapper {
    top: 1px;
    left: 16px;
  }
}

#solution_story-overview {
  padding: 4em 0em;

  .well-featured-solution_story {
    @extend .well, .well-sm, .text-center, .text-white;

    @include border-radius(1em);

    padding: 0.25em;
    background-color: $solution !important;
  }

  .well-solution_story {
    padding: 0px;
    background-color: white;

    @include border-radius(10px);

    #actions {
      a {
        color: $grayText;
      }
    }

    .fa-close {
      padding-right: 15px;
      padding-top: 15px;
    }

    .solution_story-content {
      padding-top: 15px;

      .row-solution {
        margin-top: 20px;
        margin-bottom: 30px;

        .media-author {
          margin-bottom: 30px;

          .media-left {
            height: 5em;

            .new-user-avatar {
              .fa-stack-2x {
                font-size: 4em !important;
                color: $newUser;
              }

              .fa-stack-1x {
                margin-top: 1em;
                margin-left: 0.75em;
                font-weight: bold;
              }
            }
          }

          .media-body {
            padding-left: 30px;

            .name {
              font-size: 1.3em;
              font-weight: bold;
              margin-bottom: 0px;
            }

            .title {
              font-size: 0.85em;
              margin-bottom: 0px;
              color: $lightGrayText;
              font-weight: bold;
            }
          }
        }

        .solution-credits {
          margin-bottom: 30px;

          .solution-credit {
            margin-bottom: 20px;

            .credit-heading {
              @extend .text-solution;

              @extend .text-bold;
            }

            .credit-names {
              margin-top: 10px;
            }

            &.solution-recipe {
              .img-circle {
                width: 7.5em;
              }

              .fa-user-avatar {
                width: 6em;
                height: 6em;
                line-height: 6em;

                .fa-stack-2x {
                  font-size: 6em !important;
                }

                .fa-stack-1x {
                  font-size: 2em !important;
                  margin-top: 0.8em;
                }
              }
            }

            &.solution-ideas {
              .img-circle {
                width: 4em;
              }

              .fa-user-avatar {
                width: 2.5em;
                height: 3.5em;
                line-height: 3.5em;
              }
            }

            &.solution-experiences {
              .img-circle {
                width: 2em;
              }

              .fa-user-avatar {
                width: 1.5em;
                height: 1.5em;
                line-height: 1em;

                .fa-stack-2x {
                  @extend .fa-2x;
                }

                .fa-stack-1x {
                  margin-left: 0.09em;
                  margin-top: 0.75em;
                }
              }
            }
          }
        }

        .content-block:last-child {
          margin-bottom: 0px;
        }

        .solution-show-file {
          margin-top: 20px;

          .fa-4x {
            color: $lightGrayText;
          }
        }
      }
    }
  }

  .media-step {
    min-height: 4em;
    margin-bottom: 2em;

    .media-body {
      padding-top: 0.5em;
      padding-left: 1em;
    }

    &:last-child {
      margin-bottom: 0em;
    }
  }
}

#solution_story-comments {
  padding: 2em 0em;
}

#solution_story-share {
  padding: 2em 0em;
}

.solution-effort {
  margin-bottom: 15px;

  @extend .badge;

  padding: 5px;
  border-radius: 20px;
  background-color: #E6E7E8;

  .badge {
    border-radius: 20px;
    padding: 5px 15px;
    color: $text-color;
    background-color: #E6E7E8;

    &:first-child {
      background-color: white;
    }

    &.active {
      background-color: $solution;
      color: white;
    }
  }
}
