approach_ideas/_header

<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>

    <div class='content-block'>
      <h6 class='text-center'>Idea</h6>

      <h2 class='section-title text-approach'><%= link_to @approach_idea.title, challenge_approach_stage_path(@challenge, @approach_idea.approach_stage, anchor: "approach_idea-#{@approach_idea.id}") %></h2>

      <div class='row'>
        <div class='col-md-8 col-md-offset-2'>
          <p><%= @approach_idea.description.html_safe %></p>
        </div>
      </div>
    </div>

  </div>
</div>