<div class='media media-step'>
  <div class='media-left'>
    <span class="fa-stack">
      <i class="fa fa-circle-thin text-recipe fa-stack-2x"></i>
      <i class="fa text-recipe fa-stack-1x step-count"><%= f.index.to_i+1 %></i>
    </span>
  </div>
  <div class='media-body'>
    <div class='row'>
      <div class='col-xs-11 form-group'>
        <%= f.text_area :description, placeholder: 'Outline how to test this idea step by step.', class: 'form-control', rows: 3 %>
      </div>
      <div class='col-xs-1'>
        <%= link_to_remove_association "<i class='fa fa-close'></i>".html_safe, f, { wrapper_class: 'media-step' } %>
      </div>
    </div>
  </div>
</div>