// The following CSS classes belong to Bootstrap and have been wrapped as placeholders.
// scss-lint:disable PlaceholderInExtend

%centered-text {
  @extend .text-center;
}

%large-text {
  @extend .text-large;
}

%centered-block {
  @extend .center-block;
}

%inline-list {
  @extend .list-inline;
}

%justified-navigation {
  @extend .nav-justified;
}

// scss-lint:enable PlaceholderInExtend


%text-white-color {
  color: $white-text !important;
}

%navbar-color {
  color: $navbar-default-bg !important;
}

%text-default-color {
  color: $text-color !important;
}

%small-text {
  font-size: $font-size-small;
}

%default-small-text {
  @extend %text-default-color, %small-text;
}

%bold {
  font-weight: 500;
}

%bolder {
  font-weight: 700;
}

%normal {
  font-weight: 300;
}

%lighter {
  font-weight: 100;
}

%underline {
  text-decoration: underline;
}

// Additional on top of bootstrap

$font-size-xsmall: ceil($font-size-base * 0.65);
$font-size-xlarge: ceil($font-size-base * 1.65);
$font-size-medium: ceil($font-size-base * 1.1);

// Weights

.text-lighter {
  @extend %lighter;
}

.text-normal {
  @extend %normal;
}

.text-bold {
  @extend %bold;
}

.text-bolder {
  @extend %bolder;
}

// Decorations

.text-italic {
  font-style: italic !important;
}

.text-underline {
  @extend %underline;
}

// Sizing

.text-large {
  font-size: $font-size-large !important;
}

.text-small {
  @extend %small-text;
}

.text-xsmall {
  @extend %bolder;

  font-size: $font-size-xsmall !important;
  color: $xsmall-text-color;
}

.text-xsmall-normal {
  @extend %bold;

  font-size: $font-size-xsmall !important;
  color: $xsmall-text-color;
}

.text-xlarge {
  font-size: $font-size-xlarge !important;
  line-height: 1.2em;
}

.text-medium {
  font-size: $font-size-medium !important;
}

.text-h2 {
  font-size: $font-size-h2 !important;
}

.text-double-spaced {
  line-height: 1.9em;
}

// Colors

.text-experience {
  color: $experience !important;
}

.text-idea {
  color: $idea !important;
}

.text-recipe {
  color: $recipe !important;
}

.text-solution {
  color: $solution !important;
}

.text-experience-light {
  color: $experience-light !important;
}

.text-idea-light {
  color: $idea-light !important;
}

.text-recipe-light {
  color: $recipe-light !important;
}

.text-solution-light {
  color: $solution-light !important;
}

.text-green,
.text-submit {
  @extend %navbar-color;
}

.text-suggestion {
  @extend %navbar-color;

  margin: 0.5em 0 1em !important;
}

.text-gray {
  color: $gray-light;
}

.text-black {
  color: $black-text !important;
}

.text-white {
  @extend %text-white-color;
}

.text-default {
  @extend %text-default-color;
}

.text-link {
  color: $link-color !important;
}

// Element definitions

h1,
h2,
h3,
h4,
h5 {
  @extend %bolder;

  margin-bottom: 1em;

  a {
    @extend %bolder;

    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
    }
  }
}

h6 {
  @extend %bolder;
  // .text-uppercase belongs to Bootstrap; can't be changed to a placeholder
  // scss-lint:disable PlaceholderInExtend
  @extend .text-uppercase;
  // scss-lint:enable PlaceholderInExtend

  color: $gray-light;

  a {
    @extend %bolder;
    // .text-uppercase belongs to Bootstrap; can't be changed to a placeholder
    // scss-lint:disable PlaceholderInExtend
    @extend .text-uppercase;
    // scss-lint:enable PlaceholderInExtend
    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
    }
  }
}

a,
label {
  @extend %bold;
}

p,
span,
li,
input,
div {
  @extend %normal;
}

// Universal Classes

.section-title {
  @extend %centered-text;
  margin-bottom: 0.5em;
}

.section-description {
  @extend %centered-text, %large-text;

  color: $gray;
}

