// The following CSS classes belong to Bootstrap and have been wrapped as placeholders.
// scss-lint:disable PlaceholderInExtend

%centered-text {
  @extend .text-center;
}

%large-text {
  @extend .text-large;
}

%centered-block {
  @extend .center-block;
}

%inline-list {
  @extend .list-inline;
}

%justified-navigation {
  @extend .nav-justified;
}

%xs-hidden {
  @extend .hidden-xs;
}

%right-pull {
  @extend .pull-right;
}

%left-pull {
  @extend .pull-left;
}

%capitalized-text {
  @extend .text-capitalize;
}

%black-text {
  color: $black-text;
}

// scss-lint:enable PlaceholderInExtend


%text-white-color {
  color: $white-text;
}

%navbar-color {
  color: $navbar-default-bg;
}

%text-default-color {
  color: $text-color;
}

%small-text {
  font-size: $font-size-small;
}

%default-small-text {
  @extend %text-default-color, %small-text;
}

%bold {
  font-weight: 500;
}

%bolder {
  font-weight: 700;
}

%normal {
  font-weight: 300;
}

%lighter {
  font-weight: 100;
}

%underline {
  text-decoration: underline;
}

%xsmall-text {
  @extend %bolder;

  font-size: $font-size-xsmall;
  color: $xsmall-text-color;
}

// Weights

.text-lighter {
  @extend %lighter;
}

.text-normal {
  @extend %normal;
}

.text-bold {
  @extend %bold;
}

.text-bolder {
  @extend %bolder;
}

// Decorations

.text-italic {
  font-style: italic;
}

.text-underline {
  @extend %underline;
}

// Sizing

.text-large {
  font-size: $font-size-large;
}

.text-small {
  @extend %small-text;
}

.text-xsmall {
  @extend %xsmall-text;
}

.text-xsmall-normal {
  @extend %bold;

  font-size: $font-size-xsmall;
  color: $xsmall-text-color;
}

.text-xlarge {
  font-size: $font-size-xlarge;
  line-height: 1.2em;
}

.text-medium {
  font-size: $font-size-medium;
}

.text-h2 {
  font-size: $font-size-h2;
}

.text-double-spaced {
  line-height: 1.9em;
}

// Colors

@each $key, $value in $stage-colors {
  %text-#{$key} {
    color: $value;
  }

  .text-#{$key} {
    @extend %text-#{$key};
  }
}

.text-green,
.text-submit {
  @extend %navbar-color;
}

.text-suggestion {
  @extend %navbar-color;

  margin: 0.5em 0 1em;
}

.text-gray {
  color: $light-gray-text;
}

.text-black {
  @extend %black-text;
}

.text-white {
  @extend %text-white-color;
}

.text-default {
  @extend %text-default-color;
}

.text-link {
  color: $link-color;
}

// Element definitions

h1,
h2,
h3,
h4,
h5 {
  @extend %bolder;

  margin-bottom: 1em;

  a {
    @extend %bolder;

    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
    }
  }
}

h6 {
  @extend %bolder;
  // .text-uppercase belongs to Bootstrap; can't be changed to a placeholder
  // scss-lint:disable PlaceholderInExtend
  @extend .text-uppercase;
  // scss-lint:enable PlaceholderInExtend

  color: $light-gray-text;

  a {
    @extend %bolder;
    // .text-uppercase belongs to Bootstrap; can't be changed to a placeholder
    // scss-lint:disable PlaceholderInExtend
    @extend .text-uppercase;
    // scss-lint:enable PlaceholderInExtend
    color: inherit;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: inherit;
    }
  }
}

a,
label {
  @extend %bold;
}

p,
span,
li,
input,
div {
  @extend %normal;
}

// Universal Classes

%section-title {
  @extend %centered-text;
  margin-bottom: 0.5em;
}

.section-title {
  @extend %section-title;
}

.section-description {
  @extend %centered-text, %large-text;

  color: $gray;
}

