<div class="text-center draft">
  <h3 class="text-center text-uppercase"><%= t('shared._draft.header') %></h3>
  <p><%= link_to "#{t('shared._draft.continue')}", edit_path %></p>
  <p class="text-small"><%= link_to "#{t('shared._draft.delete')}", delete_path, method: :delete, data: { confirm: "#{t('shared._draft.confirm')}" } %></p>
</div>