<div class="text-center draft">
  <h3 class="text-center text-uppercase">Draft</h3>
  <p><%= link_to 'Continue Editing >', edit_path %></p>
  <p class="text-small"><%= link_to 'Delete Draft', delete_path, method: :delete, data: { confirm: "Are you sure you wish to delete your draft?" } %></p>
</div>