<div id="legal container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <article class="articleWrapper">
        <h1>Terms and Conditions ("Terms")</h1>
        <p>Last updated: (add date)</p>

        <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the (change: YOUR WEB ADDRESS GOES HERE) website and the My Mobile App (change this) mobile application (the "Service") operated by (change: COMPANY NAME) ("us", "we", or "our").</p>

        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

        <h2>Purchases</h2>

        <p>If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, (change: YOUR PURCHASE SECTION GOES HERE)</p>

        <h2>Subscriptions</h2>

        <p>Some parts of the Service are billed on a subscription basis ("Subscription(s)"). You will be billed in advance on a recurring (change: YOUR PURCHASE SECTION GOES HERE)</p>

        <h2>Content</h2>

        <p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the (change: YOUR CONTENT SECTION GOES HERE)</p>

        <h2>Links To Other Web Sites</h2>

        <p>Our Service may contain links to third­party web sites or services that are not owned or controlled by (change: YOUR COMPANY GOES HER). (change: YOUR COMPANY GOES HERE) has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that (change: YOUR COMPANY GOES HERE) shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

        <h2>Changes</h2>

        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least (change: NUMBER OF DAYS) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

        <h2>Contact Us</h2>

        <p>If you have any questions about these Terms, please contact us (change: YOUR CONTACT EMAIL)</p>
      </article>
    </div>
  </div>
</div>