<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>

    <div class='content-block'>
      <h6 class='text-center'><%= t('experiences._header.response') %></h6>
      <h2 class='section-title text-experience'><%= link_to @experience.theme.title, challenge_experience_stage_path(@challenge, @experience.theme, anchor: "theme-#{@experience.theme.id}") %></h2>
    </div>

    <% if @experience.featured? %>
      <div class="row">
        <div class="col-sm-10 col-md-offset-1">

          <div class='well-featured-experience'>
            <div class='row'>
              <div class='col-sm-10 col-sm-offset-1'>
                <h6 class='text-white'><%= t('experiences._header.featured_experience')%></h6>
                <p class='text-small'><%= @experience.feature.reason %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>