// Base Colors (overrides for Bootstrap)

$gray: #666666;
$gray-dark: #2D2D2D;
$gray-medium: #656565;
$gray-light: #999999;
$gray-lighter: #D1D3D4;
$brand-info: #3DA7DE;
$body-bg: #F4F5F5;
$text-color: #464646;
$link-color: #00AEF9;
$white: #FFFFFF;
$red: #FF0000;

// Stage Colors
$experience: #11487E;
$idea: #8BB734;
$recipe: #7F3F98;
$solution: #F26606;
$experience-light: #979EBD;
$idea-light: #D1E2AE;
$recipe-light: #CCB2D6;
$solution-light: #FAC29B;

$stage-colors: (
    experience: $experience,
    experience-light: $experience-light,
    idea: $idea,
    idea-light: $idea-light,
    recipe: $recipe,
    recipe-light: $recipe-light,
    solution: $solution,
    solution-light: $solution-light
);

// Background Colors
$footer-background: #0B3F57;
$light-gray-background: #F1F1F1;
$lightest-gray-background: $body-bg;
$nested-comment-gray-background: #EFEFEF;
$header-background: #0B3F57;

// Comment Colors
$well-border: #E3E3E3;
$well-bg: #EBECED;
$well-text: #B1B0B2;
$comment-border: #E6E6E6;

// Generic Colors
$new-user: #EC297B;
$error-border: #A94442;
$quote-border-left: rgba(0, 0, 0, 0.15);
$opacity-background: rgba(47, 52, 64, 0.25);
$hr-break: rgba(0, 0, 0, 0.15);
$light-gray-border: #F1F1F1;
$challenge-nav-arrow-color: #CECFD0;
$challenge-pending-cta-text: #A5A7AA;
$devise-label-text: #9D9D9D;
$idea-thumbnail-border: #B9B9B9;
$solution-badge-bg: #E6E7E8;

// Navbar Colors
$navbar-default-color: $white;
$navbar-default-bg: #0B3F57;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-hamburger-hover: #EEEEEE;
$navbar-divider-border: #D8D9DA;

$dropdown-hover: #F5F5F5;

// Shadows
$ribbon-box-shadow: rgba(0, 0, 0, 0.3);
$error-box-shadow: rgba(0, 0, 0, 0.075);
$discussion-box-shadow: rgba(2, 1, 1, 0.27);
$stage-nav-box-shadow: rgba(2, 1, 1, 0.27);

// Text Colors
$gray-text: $gray;
$light-gray-text: $gray-light;
$dark-text: $gray-dark;
$white-text: $white;
$black-text: #000000;
$challenge-well-text-color: $gray-text;
$xsmall-text-color: #979797;
$creation-date-text: #AEAEAE;
$dropdown-toggle-text: #AEAEAE;

