@mixin border-radius($radius) {
  border-radius: $radius;
}


@mixin text-for-stage($stage) {
  color: map-get($stage-colors, $stage);
}

@mixin expand-icon($stage-text-color, $top, $font-size: 15em, $line-height: 0.5em) {
  @include text-for-stage($stage-text-color);
  top: $top;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin stage-navigation($background-color) {
  @extend %xs-hidden;

  background-color: $background-color;
  color: $white;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 5px 10px $stage-nav-box-shadow;
  margin-bottom: 20px;
}

@mixin stage-content($affix-top-margin: 40px, $padding...) {
  @if length($padding) == 0 {
    $padding: 20px 0;
  }

  padding: $padding;
  background-color: $lightest-gray-background;

  &.affix {
    margin-top: $affix-top-margin;
  }
}