<div id='problem_statement-<%= problem_statement.id %>-idea-new' class="col-sm-6 col-md-4">

  <%= link_to new_challenge_idea_stage_problem_statement_idea_path(@challenge, @idea_stage, problem_statement), class: 'thumbnail idea-thumbnail idea-add-thumbnail' do %>
    <div class="idea-add">
      <i class="fa fa-plus"></i>
      <p class='instruction'>Add Your Idea</p>
    </div>
  <% end %>

</div>