// Stage Colors
$experience: #11487e;
$idea: #8BB734;
$recipe: #7F3F98;
$solution: #F26606;

$experienceLight: #979EBD;
$ideaLight: #D1E2AE;
$recipeLight: #CCB2D6;
$solutionLight: #FAC29B;

$newUser: #EC297B;

// Background Colors
$footerBG: #0B3F57;
$lightGrayBG: #f1f1f1;
$lightestGrayBG: #F4F5F5;
$nestedCommentGrayBG: #EFEFEF;


// Text Colors
$grayText: #666666;
$lightGrayText: #999999;
$darkText: #2D2D2D;
$challengeWellTextColor: $grayText;