@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon.eot?-3gcgrf');
  src: font-url('icomoon.eot?#iefix-3gcgrf') format('embedded-opentype'), font-url('icomoon.woff?-3gcgrf') format('woff'), font-url('icomoon.ttf?-3gcgrf') format('truetype'), font-url('icomoon.svg?-3gcgrf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

%recipe-icon {
  content: '';
}

%check-icon {
  content: '';
}

%comments-icon {
  content: '';
}

%download-icon {
  content: '';
}

%email-icon {
  content: '';
}

%experience-icon {
  content: '';
}

%experiences-icon {
  content: '';
}

%facebook-icon {
  content: '';
}

%idea-icon {
  content: '';
}

%like-icon {
  content: '';
}

%liked-icon {
  content: '';
}

%linkedin-icon {
  content: '';
}

%more-icon {
  content: '';
}

%refine-icon {
  content: '';
}

%replied-icon {
  content: '';
}

%reply-icon {
  content: '';
}

%share-icon {
  content: '';
}

%story-icon {
  content: '';
}

%twitter-icon {
  content: '';
}

.icon-recipe::before {
  @extend %recipe-icon;
}

.icon-check::before {
  @extend %check-icon;
}

.icon-comments::before {
  @extend %comments-icon;
}

.icon-download::before {
  @extend %download-icon;
}

.icon-email::before {
  @extend %email-icon;
}

.icon-experience::before {
  @extend %experience-icon;
}

.icon-experiences::before {
  @extend %experiences-icon;
}

.icon-facebook::before {
  @extend %facebook-icon;
}

.icon-idea::before {
  @extend %idea-icon;
}

.icon-like::before {
  @extend %like-icon;
}

.icon-liked::before {
  @extend %liked-icon;
}

.icon-linkedin::before {
  @extend %linkedin-icon;
}

.icon-more::before {
  @extend %more-icon;
}

.icon-refine::before {
  @extend %refine-icon;
}

.icon-replied::before {
  @extend %replied-icon;
}

.icon-reply::before {
  @extend %reply-icon;
}

.icon-share::before {
  @extend %share-icon;
}

.icon-story::before {
  @extend %story-icon;
}

.icon-twitter::before {
  @extend %twitter-icon;
}
