.btn-experience {
  .fa-inverse {
    color: $experience;
  }

  background-color: $experience;
  border-color: $experience;
  color: white !important;

  &:hover, &:focus, &:active {
    background-color: $experience;
    border-color: $experience;
    color: white !important;
  }
}

.btn-idea {
  .fa-inverse {
    color: $idea;
  }

  background-color: $idea;
  border-color: $idea;
  color: white !important;

  &:hover, &:focus, &:active {
    background-color: $idea;
    border-color: $idea;
    color: white !important;
  }
}

.btn-approach {
  .fa-inverse {
    color: $approach;
  }

  background-color: $approach;
  border-color: $approach;
  color: white !important;

  &:hover, &:focus, &:active {
    background-color: $approach;
    border-color: $approach;
    color: white !important;
  }
}

.btn-solution {
  .fa-inverse {
    color: $solution;
  }

  background-color: $solution;
  border-color: $solution;
  color: white !important;

  &:hover, &:focus, &:active {
    background-color: $solution;
    border-color: $solution;
    color: white !important;
  }
}

.btn-submit {
  @extend .btn-primary;

  background-color: $header-background;
  border-color: $header-background;

  &:focus, &:hover, &:active, &.active {
    background-color: $header-background;
    border-color: $header-background;
  }
}

.btn-ideas {
  background-color: $linkText;
  border-color: $linkText;
  color: white !important;
  font-size: 1.2em;

  font-weight-bold {}

  padding: 0 15px;
}

.btn-longer {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
