.submit-link
  @extend .text-small
  background-color: transparent
  border: none
  cursor: pointer
  color: $link-color
  &:hover,&:focus,&:active
    text-decoration: underline

ul.actions
  margin-bottom: 0px
  li,.list-link
    @extend .text-small
    color: $lightGrayText
  &#actions
    margin-right: 0px
    a.dropdown-toggle
      color: $lightGrayText
    .dropdown-menu
      min-width: 100%

.fa-user-avatar
  width: 100%
  margin-top: 0.5em
  margin-left: 0.05em
  @extend .fa-lg
  .fa-stack-2x
    @extend .fa-3x
    @extend .fa-lg
    color: $newUser
  .fa-stack-1x
    @extend .fa-lg
    @extend .text-small
    @extend .text-bolder
    margin-top: 1.4em
  .fa-inverse 
    a
      color: white

.user-caption
  margin-top: 1em
  .user-name
    @extend .text-default
    @extend .text-bolder
    margin-bottom: 0.25em
    a
      font-weight: inherit !important
      @extend .text-default
  .user-title
    @extend .text-xsmall
    margin-bottom: 0em
  .user-link
    @extend .user-title
    a
      color: #AEAEAE

.nav-link
  padding-top: 0.85em
  min-height: 3.5em
  border-right: 1px solid #D8D9DA
  .fa-play
    color: transparent
    position: absolute
    text-align: center
    bottom: -20px
    left: 43%
    z-index: -1
  &:last-child
    border-right: none
  &:hover,&:focus,&.active
    @extend .text-experience
    background-color: white      
    cursor: pointer
  &.active
    .fa-play
      @extend .text-white
  .title
    min-height: 5em
  .cta
    position: absolute
    bottom: 0

.content-block
  margin-bottom: 2em
  .section-title
    margin-top: 0.25em

.content-block-xl
  @extend .content-block
  margin-bottom: 4em

.row-count
  h6
    .fa
      margin-bottom: 0.25em
  .action
    margin-top: 3.85em
    ul
      a
        &:hover,&:focus,&:active,.active        
          cursor: pointer
          @extend .text-bolder
      
.opacity-layer
  background-color: rgba(47,52,64,0.6)

.page-wrap
  margin: -($line-height-computed) auto $line-height-computed

.zero-margin-bottom
  margin-bottom: 0px !important

hr.break
  display: block
  width: 30%
  margin: 50px auto
  border: 0
  border-top: 1px solid rgba(0,0,0,0.15)

.header-label
  @extend .text-center
  font-weight: bold
  margin-bottom: 0px
  text-transform: uppercase
  color: $lightGrayText
  font-size: 0.9em

div.break
  margin-bottom: 30px

.section-heading
  margin-bottom: 1em

ul.share-links
  @extend .text-center, .center-block, .list-inline
  li
    padding: 0px 10px

ul.share-popover
  margin-bottom: 0px
  @extend .text-center, .center-block, .list-inline
  li
    &:last-of-type
      padding-right: 0px
    a
      color: $lightGrayText

.input-switch
  &:hover, &:focus, &:active
    cursor: pointer
  .fa-circle-thin
    color: $lightGrayText
  .fa-plus
    color: $link-color
  .media
    margin-bottom: 10px
    padding: 0px 6px
    .media-body
      vertical-align: middle
      .help-text
        @extend .text-small
        color: $lightGrayText