.header-nav {
  z-index: 9999;

  a {
    @extend %small-text;

    &:hover,
    &:focus,
    &:active,
    &.active {
      @extend %underline;
    }
  }

  .btn-info {
    @extend %round-btn;

    top: 0.675em;
    padding: 3px 35px;

    &:hover,
    &:focus,
    &:active,
    &.active {
      text-decoration: none !important;
      color: $btn-info-color;
      background-color: $btn-info-border;
      border-color: $btn-info-border;
    }
  }

  .navbar-hamburger {
    padding: 5px 10px;

    &:hover {
      background-color: $navbar-hamburger-hover;
    }

    .icon-bar {
      background-color: $white;
    }
  }

  // Nesting here is a symptom of the markup; will silence for now.
  // scss-lint:disable NestingDepth
  // scss-lint:disable SelectorDepth
  .user-dropdown {
    padding: ($line-height-computed / 2) 0;

    a {
      padding: 0;
    }

    .dropdown-menu {
      &:hover {
        background-color: $white;
      }

      a {
        color: $text-color;
        padding: 10px;

        &:hover {
          background-color: $dropdown-hover;
        }
      }
    }

    .header-user-avatar {
      height: auto;
      bottom: 0.5em;
      margin-bottom: 2em;

      .fa-stack-2x {
        font-size: 3em;
        color: $new-user;
      }

      .fa-stack-1x {
        @extend %bolder;

        margin-left: 0.25em;
        margin-top: 0.35em;
      }
    }
  }
  // scss-lint:enable SelectorDepth
  // scss-lint:enable NestingDepth

  .navbar-center-link {
    width: 100%;
    height: 0;
    text-align: center;
    position: absolute;
    left: 0;

    a {
      @extend %lighter;
      @extend %normal;

      color: $white-text;
      position: relative;
      top: 12px;
      padding: 15px;

      // Nesting here is a symptom of the markup; will silence for now.
      // scss-lint:disable NestingDepth
      // scss-lint:disable SelectorDepth

      &:hover,
      &:focus,
      &:active,
      &.active {
        @extend %underline;
        color: $white-text;
      }

      // scss-lint:enable SelectorDepth
      // scss-lint:enable NestingDepth
    }
  }
}
