<div class='row'>
  <div class='col-sm-10 col-sm-offset-1'>

    <div class='media media-preview'>
      <div class='media-left'>
        <i class='fa fa-flask text-approach'></i>
      </div>
      <div class='media-body'>
        <h4 class='media-heading text-approach'><%= approach.title %></h4>
        <p class='media-description'><%= truncate(approach.description, length: 250) %></p>
      </div>
    </div>

  </div>
</div>