<%= render partial: 'challenges/header', cache: true %>

<div id='cookbook-overview'>
  <div class='container'>

    <%= render partial: 'cookbooks/header' %>
    
  </div>
</div>

<div id='cookbook-comments'>
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render partial: 'comments/discussion', locals: { commentable: @cookbook } %>

      </div>
    </div>
  </div>
</div>

<div id='cookbook-share'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1'>

        <h2 class='section-title text-submit'>Know people who have something to add to this conversation?</h2>
        <p class='section-description'>More people means more problems solved. Share this challenge!</p>
        
        <%= render partial: 'layouts/share_links', locals: { url: challenge_approach_stage_approach_idea_url(@challenge, @approach_idea.approach_stage, @approach_idea), title: @approach_idea.title.html_safe, description: @approach_idea.description.html_safe, hashtag: @challenge.hashtag } %>
        
      </div>
    </div>
  </div>
</div>